
*{
    
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    padding: 20px;
}
h1,ul,li{
    display: inline;
}
ul{
    margin-left: 70%;
    cursor: pointer;
}
li{
    color: gray;
    
}
li:hover{
    color: white;
}

input {
   width: 60%;
   padding: 20px;
}
.searchbar{
    text-align: center;
    padding: 20px;
}
img{
    height: 220px;
    width: 220px;
}
.box{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    width:220px ;
    text-align: center;
    
}

.types{
    text-align: center;
    padding: 30px;
}

.box:hover{
    background-color:black;
    color: white;
}
.about{
    text-align: center;
    padding: 20px;
    margin-bottom: auto;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}